You now have a pretty varied suite of clustering and clustering evaluation methods; we'd be remiss if we didn't give you the opportunity to try them out on some real data. So here we go!

There is a lot of information on runners and their performance for the Boston Marathon. Pick a year (post-2012 has more info) and do some clustering.

Specifically, use the tools at hand to determine which clustering solution, including number of clusters and algorithm used, is best for the marathon data. Once you have a solution you like, write a data story, including visualizations, where you teach the reader something about the Boston Marathon based on your clusters. Write up your report, including your process from start to finish, in a Jupyter notebook and submit it below.

In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.preprocessing import normalize
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

%matplotlib inline

In [2]:
df=pd.read_csv('results.csv')

In [3]:
pd.set_option('display.expand_frame_repr', False)
from IPython.display import display
pd.options.display.max_columns=None
df=df.reindex(sorted(df.columns),axis=1)
df.head()

     10k    20k    25k    30k     35k     40k     5k  age bib            city country  ctz  division gender  genderdiv   half                name  official  overall  pace state
0  17.37  37.65  47.67  59.18   71.40   80.43   8.02   47  W1         Fukuoka     JPN  NaN         8      M          8  39.72  Yamamoto, Hiroyuki     85.25        8  3.27   NaN
1  32.58  65.83  82.43  99.33  116.37  132.10  16.22   33  F1         Eldoret     KEN  NaN         1      F          1  69.47        Jeptoo, Rita    138.95       21  5.30   NaN
2  16.62  36.10  45.80  56.45   67.42   76.10   7.75   41  W2           Paarl     RSA  NaN         1      M          1  38.03   Van Dyk, Ernst F.     80.60        1  3.08   NaN
3  32.57  65.83  82.43  99.33  116.37  132.95  16.20   24  F2            Shoa     ETH  NaN         3      F          3  69.47        Dibaba, Mare    140.58       27  5.37   NaN
4  17.12  36.58  46.37  57.03   67.83   76.72   8.02   40  W3  Nogata Fukuoka     JPN  NaN         2      M          2  38.60      Hokinoue, Kota     81.23        2  3.10   NaN

In [4]:
df.dtypes

10k           object
20k           object
25k           object
30k           object
35k           object
40k           object
5k            object
age            int64
bib           object
city          object
country       object
ctz           object
division       int64
gender        object
genderdiv      int64
half          object
name          object
official     float64
overall        int64
pace         float64
state         object
dtype: object

In [5]:
X=df.iloc[:,:7]

In [6]:
df.shape

(31984, 21)

## Features Selection

In [7]:
col=X.columns.values
col

array(['10k', '20k', '25k', '30k', '35k', '40k', '5k'], dtype=object)

## Data Cleaning

In [8]:
col=X.columns.values
for i in col:
    df.drop(df[df[i]=='-'].index,inplace=True)
    df[i]=df[i].astype(float)

In [9]:
df.shape

(31687, 21)

In [10]:
df.dtypes

10k          float64
20k          float64
25k          float64
30k          float64
35k          float64
40k          float64
5k           float64
age            int64
bib           object
city          object
country       object
ctz           object
division       int64
gender        object
genderdiv      int64
half          object
name          object
official     float64
overall        int64
pace         float64
state         object
dtype: object

In [11]:
df.head()

     10k    20k    25k    30k     35k     40k     5k  age bib            city country  ctz  division gender  genderdiv   half                name  official  overall  pace state
0  17.37  37.65  47.67  59.18   71.40   80.43   8.02   47  W1         Fukuoka     JPN  NaN         8      M          8  39.72  Yamamoto, Hiroyuki     85.25        8  3.27   NaN
1  32.58  65.83  82.43  99.33  116.37  132.10  16.22   33  F1         Eldoret     KEN  NaN         1      F          1  69.47        Jeptoo, Rita    138.95       21  5.30   NaN
2  16.62  36.10  45.80  56.45   67.42   76.10   7.75   41  W2           Paarl     RSA  NaN         1      M          1  38.03   Van Dyk, Ernst F.     80.60        1  3.08   NaN
3  32.57  65.83  82.43  99.33  116.37  132.95  16.20   24  F2            Shoa     ETH  NaN         3      F          3  69.47        Dibaba, Mare    140.58       27  5.37   NaN
4  17.12  36.58  46.37  57.03   67.83   76.72   8.02   40  W3  Nogata Fukuoka     JPN  NaN         2      M          2  38.60      Hokinoue, Kota     81.23        2  3.10   NaN

## Shuffle

In [12]:
from sklearn.utils import shuffle
df = shuffle(df)

In [13]:
df.head()

         10k     20k     25k     30k     35k     40k     5k  age    bib          city country  ctz  division gender  genderdiv    half                name  official  overall   pace state
2924   43.75   86.55  108.25  131.57  155.73  179.35  22.20   32   3335        Nevada     USA  NaN      2338      M       3677   91.13    Mcveigh, Sean P.    189.37     4012   7.23    IA
20796  56.82  114.17  143.98  183.83  222.20  267.95  28.03   50  23729       Sherman     USA  NaN      1164      F      11123  120.43       Lee, Teresa O    287.03    25735  10.95    CT
10845  46.70   94.53  119.30  146.03  176.02  204.15  23.25   31  12420  Philadelphia     USA  NaN      2147      F       2998   99.85  Shull, Stephanie A    216.05    11145   8.25    PA
27971  65.50  141.57  187.72  231.63  279.92  324.33  31.68   55  31480  Laguna Beach     USA  NaN      1696      M      16830  149.88    Maguire, Paul T.    342.83    30272  13.08    CA
17577  53.77  108.30  136.48  166.83  198.58  232.77  27.13   41  20096        Hudson     USA  NaN      1401      F       7766  114.23    Mutschler, Kelli    247.35    19548   9.45    WI

## Reset dataframe Index

In [14]:
df=df.reset_index(drop=True)

In [15]:
df.head()

     10k     20k     25k     30k     35k     40k     5k  age    bib          city country  ctz  division gender  genderdiv    half                name  official  overall   pace state
0  43.75   86.55  108.25  131.57  155.73  179.35  22.20   32   3335        Nevada     USA  NaN      2338      M       3677   91.13    Mcveigh, Sean P.    189.37     4012   7.23    IA
1  56.82  114.17  143.98  183.83  222.20  267.95  28.03   50  23729       Sherman     USA  NaN      1164      F      11123  120.43       Lee, Teresa O    287.03    25735  10.95    CT
2  46.70   94.53  119.30  146.03  176.02  204.15  23.25   31  12420  Philadelphia     USA  NaN      2147      F       2998   99.85  Shull, Stephanie A    216.05    11145   8.25    PA
3  65.50  141.57  187.72  231.63  279.92  324.33  31.68   55  31480  Laguna Beach     USA  NaN      1696      M      16830  149.88    Maguire, Paul T.    342.83    30272  13.08    CA
4  53.77  108.30  136.48  166.83  198.58  232.77  27.13   41  20096        Hudson     USA  NaN      1401      F       7766  114.23    Mutschler, Kelli    247.35    19548   9.45    WI

## Deivide dataset to 4 evenly sized subset

In [16]:
rows=df.shape[0]-df.shape[0]%4
df=df.iloc[:rows,:8]
df.head()

     10k     20k     25k     30k     35k     40k     5k  age
0  43.75   86.55  108.25  131.57  155.73  179.35  22.20   32
1  56.82  114.17  143.98  183.83  222.20  267.95  28.03   50
2  46.70   94.53  119.30  146.03  176.02  204.15  23.25   31
3  65.50  141.57  187.72  231.63  279.92  324.33  31.68   55
4  53.77  108.30  136.48  166.83  198.58  232.77  27.13   41

In [17]:
df.shape

(31684, 8)

In [18]:
df=np.split(df,4,axis=0)

In [19]:
df[0]

        10k     20k     25k     30k     35k     40k     5k  age
0     43.75   86.55  108.25  131.57  155.73  179.35  22.20   32
1     56.82  114.17  143.98  183.83  222.20  267.95  28.03   50
2     46.70   94.53  119.30  146.03  176.02  204.15  23.25   31
3     65.50  141.57  187.72  231.63  279.92  324.33  31.68   55
4     53.77  108.30  136.48  166.83  198.58  232.77  27.13   41
5     56.33  115.68  147.05  182.57  224.45  258.13  27.83   67
6     65.10  134.23  173.07  217.02  257.70  294.52  31.82   39
7     42.32   84.68  106.10  128.52  152.23  176.58  21.28   46
8     49.90  100.95  127.62  155.80  185.12  212.58  24.90   41
9     40.78   84.15  106.90  131.90  160.25  194.30  20.30   34
10    64.08  133.12  171.97  213.83  256.17  296.55  31.53   34
11    47.27   99.55  128.12  163.05  203.18  240.00  23.00   44
12    49.57   99.82  125.18  151.80  179.15  211.98  24.78   41
13    52.68  106.57  134.15  163.43  193.58  221.72  26.20   41
14    43.62   88.23  112.15  135.72  161.73  187.00  21.62   49
15    44.73   94.98  122.48  154.18  188.90  224.58  21.82   26
16    63.10  134.63  173.37  215.47  260.33  298.47  31.02   36
17    62.45  120.08  149.27  179.03  209.02  239.18  30.52   45
18    42.67   85.40  107.10  129.78  152.82  175.73  21.23   39
19    46.55   95.07  119.97  146.22  173.75  201.48  22.98   45
20    50.22   99.93  124.60  149.58  174.80  200.20  24.98   45
21    45.67   93.63  118.50  145.32  174.20  202.70  22.50   38
22    49.27   98.68  123.55  149.78  177.40  204.68  24.52   55
23    57.87  117.20  146.70  177.65  209.40  240.13  28.87   62
24    47.50   95.30  119.05  146.43  175.30  202.83  23.82   50
25    52.88  105.02  131.25  159.10  187.65  214.78  26.33   52
26    50.12  100.72  126.03  152.13  178.05  204.12  25.00   36
27    66.33  136.48  173.92  214.32  251.05  284.22  31.72   41
28    50.83  104.08  131.67  161.95  194.48  226.80  25.03   42
29    51.17  104.60  132.48  161.63  192.98  224.48  25.40   46
...     ...     ...     ...     ...     ...     ...    ...  ...
7891  45.23   90.77  113.67  137.42  162.00  186.85  22.60   31
7892  78.07  161.90  211.72  257.67  308.70  355.38  37.15   29
7893  66.33  138.70  177.63  220.30  264.43  309.38  32.60   62
7894  59.75  127.10  164.90  206.33  252.95  299.03  28.50   59
7895  55.67  111.48  140.70  173.92  209.88  247.57  27.32   50
7896  54.28  108.68  135.90  164.25  193.05  221.62  27.58   47
7897  41.90   83.28  104.28  125.85  147.63  169.40  21.20   34
7898  39.20   78.07   97.42  117.88  139.65  164.47  19.47   29
7899  40.68   80.47  100.13  120.23  140.48  161.63  20.58   26
7900  57.85  118.67  149.77  182.67  217.83  258.17  28.50   61
7901  50.37  104.15  132.72  163.43  195.53  228.63  24.83   45
7902  57.17  117.02  149.40  190.07  234.12  279.18  28.10   65
7903  43.50   86.62  110.03  137.37  167.68  203.97  21.63   40
7904  41.38   83.35  104.95  127.45  152.55  177.78  20.85   21
7905  44.65   93.28  118.88  145.90  172.33  197.40  22.30   38
7906  39.60   80.28  100.98  122.63  146.68  171.68  19.93   27
7907  52.47  106.57  134.38  163.57  195.00  227.78  26.12   62
7908  46.20   92.37  116.68  142.50  169.97  197.75  22.97   54
7909  55.73  114.85  147.32  181.78  220.17  255.48  27.37   53
7910  44.13   89.45  112.68  137.02  162.17  189.17  22.03   51
7911  47.57   95.75  119.47  144.62  171.20  198.63  23.62   48
7912  60.88  121.68  154.28  193.62  236.75  276.27  30.73   48
7913  62.28  125.60  157.62  190.58  225.17  259.22  30.90   43
7914  54.63  113.52  142.43  174.20  213.48  249.68  27.35   50
7915  42.20   84.60  106.17  129.22  155.32  183.72  21.37   41
7916  68.95  149.42  194.55  246.73  301.62  359.72  32.75   48
7917  53.87  109.30  137.30  166.98  197.43  227.58  26.77   57
7918  53.10  108.73  137.47  167.13  203.82  237.65  27.13   24
7919  68.27  143.27  184.93  228.37  269.57  312.12  33.08   39
7920  39.32   78.63   98.40  119.22  139.97  160.55  19.67   25

[7921 rows x 8 columns]

## Features Selection

In [20]:
df[0].iloc[:rows,:7]

        10k     20k     25k     30k     35k     40k     5k
0     43.75   86.55  108.25  131.57  155.73  179.35  22.20
1     56.82  114.17  143.98  183.83  222.20  267.95  28.03
2     46.70   94.53  119.30  146.03  176.02  204.15  23.25
3     65.50  141.57  187.72  231.63  279.92  324.33  31.68
4     53.77  108.30  136.48  166.83  198.58  232.77  27.13
5     56.33  115.68  147.05  182.57  224.45  258.13  27.83
6     65.10  134.23  173.07  217.02  257.70  294.52  31.82
7     42.32   84.68  106.10  128.52  152.23  176.58  21.28
8     49.90  100.95  127.62  155.80  185.12  212.58  24.90
9     40.78   84.15  106.90  131.90  160.25  194.30  20.30
10    64.08  133.12  171.97  213.83  256.17  296.55  31.53
11    47.27   99.55  128.12  163.05  203.18  240.00  23.00
12    49.57   99.82  125.18  151.80  179.15  211.98  24.78
13    52.68  106.57  134.15  163.43  193.58  221.72  26.20
14    43.62   88.23  112.15  135.72  161.73  187.00  21.62
15    44.73   94.98  122.48  154.18  188.90  224.58  21.82
16    63.10  134.63  173.37  215.47  260.33  298.47  31.02
17    62.45  120.08  149.27  179.03  209.02  239.18  30.52
18    42.67   85.40  107.10  129.78  152.82  175.73  21.23
19    46.55   95.07  119.97  146.22  173.75  201.48  22.98
20    50.22   99.93  124.60  149.58  174.80  200.20  24.98
21    45.67   93.63  118.50  145.32  174.20  202.70  22.50
22    49.27   98.68  123.55  149.78  177.40  204.68  24.52
23    57.87  117.20  146.70  177.65  209.40  240.13  28.87
24    47.50   95.30  119.05  146.43  175.30  202.83  23.82
25    52.88  105.02  131.25  159.10  187.65  214.78  26.33
26    50.12  100.72  126.03  152.13  178.05  204.12  25.00
27    66.33  136.48  173.92  214.32  251.05  284.22  31.72
28    50.83  104.08  131.67  161.95  194.48  226.80  25.03
29    51.17  104.60  132.48  161.63  192.98  224.48  25.40
...     ...     ...     ...     ...     ...     ...    ...
7891  45.23   90.77  113.67  137.42  162.00  186.85  22.60
7892  78.07  161.90  211.72  257.67  308.70  355.38  37.15
7893  66.33  138.70  177.63  220.30  264.43  309.38  32.60
7894  59.75  127.10  164.90  206.33  252.95  299.03  28.50
7895  55.67  111.48  140.70  173.92  209.88  247.57  27.32
7896  54.28  108.68  135.90  164.25  193.05  221.62  27.58
7897  41.90   83.28  104.28  125.85  147.63  169.40  21.20
7898  39.20   78.07   97.42  117.88  139.65  164.47  19.47
7899  40.68   80.47  100.13  120.23  140.48  161.63  20.58
7900  57.85  118.67  149.77  182.67  217.83  258.17  28.50
7901  50.37  104.15  132.72  163.43  195.53  228.63  24.83
7902  57.17  117.02  149.40  190.07  234.12  279.18  28.10
7903  43.50   86.62  110.03  137.37  167.68  203.97  21.63
7904  41.38   83.35  104.95  127.45  152.55  177.78  20.85
7905  44.65   93.28  118.88  145.90  172.33  197.40  22.30
7906  39.60   80.28  100.98  122.63  146.68  171.68  19.93
7907  52.47  106.57  134.38  163.57  195.00  227.78  26.12
7908  46.20   92.37  116.68  142.50  169.97  197.75  22.97
7909  55.73  114.85  147.32  181.78  220.17  255.48  27.37
7910  44.13   89.45  112.68  137.02  162.17  189.17  22.03
7911  47.57   95.75  119.47  144.62  171.20  198.63  23.62
7912  60.88  121.68  154.28  193.62  236.75  276.27  30.73
7913  62.28  125.60  157.62  190.58  225.17  259.22  30.90
7914  54.63  113.52  142.43  174.20  213.48  249.68  27.35
7915  42.20   84.60  106.17  129.22  155.32  183.72  21.37
7916  68.95  149.42  194.55  246.73  301.62  359.72  32.75
7917  53.87  109.30  137.30  166.98  197.43  227.58  26.77
7918  53.10  108.73  137.47  167.13  203.82  237.65  27.13
7919  68.27  143.27  184.93  228.37  269.57  312.12  33.08
7920  39.32   78.63   98.40  119.22  139.97  160.55  19.67

[7921 rows x 7 columns]

In [21]:
X=[]
y=[]

In [22]:
X.append(df[0].iloc[:rows,:7])
y.append(df[0].iloc[:rows,7])

In [23]:
X[0].head()

     10k     20k     25k     30k     35k     40k     5k
0  43.75   86.55  108.25  131.57  155.73  179.35  22.20
1  56.82  114.17  143.98  183.83  222.20  267.95  28.03
2  46.70   94.53  119.30  146.03  176.02  204.15  23.25
3  65.50  141.57  187.72  231.63  279.92  324.33  31.68
4  53.77  108.30  136.48  166.83  198.58  232.77  27.13

In [25]:
y[0].head()

0    32
1    50
2    31
3    55
4    41
Name: age, dtype: int64