You now have a pretty varied suite of clustering and clustering evaluation methods; we'd be remiss if we didn't give you the opportunity to try them out on some real data. So here we go!

There is a lot of information on runners and their performance for the Boston Marathon. Pick a year (post-2012 has more info) and do some clustering.

Specifically, use the tools at hand to determine which clustering solution, including number of clusters and algorithm used, is best for the marathon data. Once you have a solution you like, write a data story, including visualizations, where you teach the reader something about the Boston Marathon based on your clusters. Write up your report, including your process from start to finish, in a Jupyter notebook and submit it below.

In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.preprocessing import normalize
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

%matplotlib inline

In [2]:
df=pd.read_csv('results.csv')

In [3]:
pd.set_option('display.expand_frame_repr', False)
from IPython.display import display
pd.options.display.max_columns=None
df=df.reindex(sorted(df.columns),axis=1)
df.head()

     10k    20k    25k    30k     35k     40k     5k  age bib            city country  ctz  division gender  genderdiv   half                name  official  overall  pace state
0  17.37  37.65  47.67  59.18   71.40   80.43   8.02   47  W1         Fukuoka     JPN  NaN         8      M          8  39.72  Yamamoto, Hiroyuki     85.25        8  3.27   NaN
1  32.58  65.83  82.43  99.33  116.37  132.10  16.22   33  F1         Eldoret     KEN  NaN         1      F          1  69.47        Jeptoo, Rita    138.95       21  5.30   NaN
2  16.62  36.10  45.80  56.45   67.42   76.10   7.75   41  W2           Paarl     RSA  NaN         1      M          1  38.03   Van Dyk, Ernst F.     80.60        1  3.08   NaN
3  32.57  65.83  82.43  99.33  116.37  132.95  16.20   24  F2            Shoa     ETH  NaN         3      F          3  69.47        Dibaba, Mare    140.58       27  5.37   NaN
4  17.12  36.58  46.37  57.03   67.83   76.72   8.02   40  W3  Nogata Fukuoka     JPN  NaN         2      M          2  38.60      Hokinoue, Kota     81.23        2  3.10   NaN

In [4]:
df.dtypes

10k           object
20k           object
25k           object
30k           object
35k           object
40k           object
5k            object
age            int64
bib           object
city          object
country       object
ctz           object
division       int64
gender        object
genderdiv      int64
half          object
name          object
official     float64
overall        int64
pace         float64
state         object
dtype: object

In [5]:
X=df.iloc[:,:7]

In [6]:
df.shape

(31984, 21)

## Features Selection

In [7]:
col=X.columns.values
col

array(['10k', '20k', '25k', '30k', '35k', '40k', '5k'], dtype=object)

## Data Cleaning

In [8]:
col=X.columns.values
for i in col:
    df.drop(df[df[i]=='-'].index,inplace=True)
    df[i]=df[i].astype(float)

In [9]:
df.shape

(31687, 21)

In [10]:
df.dtypes

10k          float64
20k          float64
25k          float64
30k          float64
35k          float64
40k          float64
5k           float64
age            int64
bib           object
city          object
country       object
ctz           object
division       int64
gender        object
genderdiv      int64
half          object
name          object
official     float64
overall        int64
pace         float64
state         object
dtype: object

In [11]:
df.head()

     10k    20k    25k    30k     35k     40k     5k  age bib            city country  ctz  division gender  genderdiv   half                name  official  overall  pace state
0  17.37  37.65  47.67  59.18   71.40   80.43   8.02   47  W1         Fukuoka     JPN  NaN         8      M          8  39.72  Yamamoto, Hiroyuki     85.25        8  3.27   NaN
1  32.58  65.83  82.43  99.33  116.37  132.10  16.22   33  F1         Eldoret     KEN  NaN         1      F          1  69.47        Jeptoo, Rita    138.95       21  5.30   NaN
2  16.62  36.10  45.80  56.45   67.42   76.10   7.75   41  W2           Paarl     RSA  NaN         1      M          1  38.03   Van Dyk, Ernst F.     80.60        1  3.08   NaN
3  32.57  65.83  82.43  99.33  116.37  132.95  16.20   24  F2            Shoa     ETH  NaN         3      F          3  69.47        Dibaba, Mare    140.58       27  5.37   NaN
4  17.12  36.58  46.37  57.03   67.83   76.72   8.02   40  W3  Nogata Fukuoka     JPN  NaN         2      M          2  38.60      Hokinoue, Kota     81.23        2  3.10   NaN

## Shuffle

In [12]:
from sklearn.utils import shuffle
df = shuffle(df)

In [13]:
df.head()

         10k     20k     25k     30k     35k     40k     5k  age    bib       city country  ctz  division gender  genderdiv    half                     name  official  overall   pace state
9821   47.33   98.58  124.57  153.35  183.65  213.10  23.48   38  11248    Redding     USA  NaN      3025      F       4698  104.08  Samaras, Christianne J.    226.07    14206   8.63    CA
14252  49.13   99.52  125.52  152.37  180.23  207.28  24.75   44  16300  Vancouver     CAN  USA       562      F       3520  105.13         Wong, Sabrina T.    219.02    12112   8.37    BC
14698  51.53  109.45  139.92  171.77  206.60  243.90  25.53   21  16815  Annapolis     USA  NaN      4467      F       8800  116.02           Carl, Samantha    257.42    21381   9.83    MD
20210  53.37  109.37  139.15  170.53  202.95  235.20  26.55   57  23075  Hillsboro     USA  NaN       239      F       8046  115.57                Cox, Debi    250.03    20043   9.55    OR
30913  55.33  112.02  144.53  183.98  228.07  269.00  27.20   46  34755    Clinton     USA  NaN      2551      M      14564  118.50              Freel, Dave    286.25    25642  10.93    MA

## Reset dataframe Index

In [14]:
df=df.reset_index(drop=True)

In [15]:
df.head()

     10k     20k     25k     30k     35k     40k     5k  age    bib       city country  ctz  division gender  genderdiv    half                     name  official  overall   pace state
0  47.33   98.58  124.57  153.35  183.65  213.10  23.48   38  11248    Redding     USA  NaN      3025      F       4698  104.08  Samaras, Christianne J.    226.07    14206   8.63    CA
1  49.13   99.52  125.52  152.37  180.23  207.28  24.75   44  16300  Vancouver     CAN  USA       562      F       3520  105.13         Wong, Sabrina T.    219.02    12112   8.37    BC
2  51.53  109.45  139.92  171.77  206.60  243.90  25.53   21  16815  Annapolis     USA  NaN      4467      F       8800  116.02           Carl, Samantha    257.42    21381   9.83    MD
3  53.37  109.37  139.15  170.53  202.95  235.20  26.55   57  23075  Hillsboro     USA  NaN       239      F       8046  115.57                Cox, Debi    250.03    20043   9.55    OR
4  55.33  112.02  144.53  183.98  228.07  269.00  27.20   46  34755    Clinton     USA  NaN      2551      M      14564  118.50              Freel, Dave    286.25    25642  10.93    MA

## Deivide dataset to 4 evenly sized subset

In [16]:
rows=df.shape[0]-df.shape[0]%4
df=df.iloc[:rows,:8]
df.head()

     10k     20k     25k     30k     35k     40k     5k  age
0  47.33   98.58  124.57  153.35  183.65  213.10  23.48   38
1  49.13   99.52  125.52  152.37  180.23  207.28  24.75   44
2  51.53  109.45  139.92  171.77  206.60  243.90  25.53   21
3  53.37  109.37  139.15  170.53  202.95  235.20  26.55   57
4  55.33  112.02  144.53  183.98  228.07  269.00  27.20   46

In [17]:
df.shape

(31684, 8)

In [18]:
np.split(df,4,axis=0)

[        10k     20k     25k     30k     35k     40k     5k  age
 0     47.33   98.58  124.57  153.35  183.65  213.10  23.48   38
 1     49.13   99.52  125.52  152.37  180.23  207.28  24.75   44
 2     51.53  109.45  139.92  171.77  206.60  243.90  25.53   21
 3     53.37  109.37  139.15  170.53  202.95  235.20  26.55   57
 4     55.33  112.02  144.53  183.98  228.07  269.00  27.20   46
 5     59.22  120.47  151.30  185.00  226.10  271.85  29.80   56
 6     49.23   99.18  124.80  152.70  182.43  214.05  24.70   45
 7     50.45  103.17  131.12  161.22  196.17  227.57  24.63   54
 8     52.87  106.15  134.30  165.92  201.18  236.65  26.55   31
 9     49.95  100.12  125.73  151.72  177.73  205.03  24.97   55
 10    50.97  102.77  129.02  155.70  185.55  214.77  25.47   39
 11    42.00   83.00  103.40  124.55  146.13  167.58  21.42   31
 12    47.77  100.05  127.07  155.85  187.93  220.15  22.85   58
 13    59.28  117.92  147.77  179.20  213.62  250.42  29.92   36
 14    58.00  119.78  156.85  196.72  236.77  275.58  28.85   34
 15    51.55  103.77  130.37  158.03  186.60  214.73  25.80   42
 16    69.13  153.53  195.68  240.50  287.93  330.88  33.45   63
 17    64.28  126.15  156.75  187.93  219.33  252.63  32.15   58
 18    72.03  144.82  191.52  232.78  278.97  320.07  35.55   27
 19    42.02   84.28  105.67  127.75  149.77  172.73  21.07   31
 20    42.25   85.57  107.98  132.08  157.38  182.35  21.30   32
 21    39.93   80.53  100.55  120.83  140.67  159.63  19.77   31
 22    45.32   90.83  114.53  140.58  171.73  203.53  22.78   45
 23    42.83   84.70  105.72  127.33  148.75  169.77  21.88   37
 24    59.20  115.77  144.03  172.93  206.52  236.65  30.00   59
 25    49.42   99.02  123.98  149.83  175.72  200.88  25.05   38
 26    73.47  153.45  196.52  241.60  290.53  333.15  37.43   46
 27    44.35   88.60  110.88  133.48  156.43  179.53  22.23   24
 28    57.40  116.53  147.68  182.60  216.95  251.18  28.15   44
 29    42.10   84.17  105.78  141.43  165.63  191.48  21.20   24
 ...     ...     ...     ...     ...     ...     ...    ...  ...
 7891  55.42  113.90  143.82  175.25  206.88  238.40  27.48   57
 7892  49.00   99.20  126.68  155.77  186.68  219.02  24.50   41
 7893  46.77   94.15  117.82  141.90  165.83  188.73  23.32   48
 7894  52.93  105.62  135.02  166.23  199.52  230.28  26.83   36
 7895  73.33  160.07  213.82  269.50  327.38  381.77  36.57   32
 7896  37.52   75.37   94.42  114.17  134.27  154.42  18.80   22
 7897  53.50  112.65  152.45  190.12  233.12  275.95  26.38   48
 7898  57.97  118.75  148.80  180.37  213.55  247.18  28.67   46
 7899  67.15  135.98  172.03  216.25  262.47  306.25  33.33   48
 7900  61.60  124.60  162.30  201.53  241.58  280.02  30.40   37
 7901  55.85  111.70  139.70  168.02  197.93  227.78  27.68   64
 7902  40.80   82.68  103.58  126.33  153.68  180.60  20.47   42
 7903  43.60   88.08  110.57  133.75  157.53  182.58  21.75   51
 7904  41.93   83.65  104.62  125.92  147.52  170.58  21.07   32
 7905  51.18  104.42  131.45  160.05  188.95  217.02  25.22   52
 7906  46.67   94.23  120.32  152.02  186.70  220.35  23.08   55
 7907  65.95  134.95  170.37  209.58  249.92  288.77  32.43   48
 7908  49.78   99.55  124.75  151.77  181.30  213.30  25.18   31
 7909  44.85   89.95  113.68  139.05  165.63  190.22  22.68   40
 7910  47.65   95.43  120.02  146.57  173.22  199.75  23.90   28
 7911  50.05  101.95  128.35  156.65  185.48  214.62  24.60   48
 7912  21.07   46.13   58.43   72.98   87.80   98.73  10.12   28
 7913  45.13   91.55  117.20  142.08  169.18  195.85  22.57   42
 7914  68.27  143.27  184.93  228.37  269.57  312.12  33.08   39
 7915  67.22  142.48  183.83  227.05  273.97  318.40  33.30   43
 7916  68.28  141.57  181.87  234.55  299.73  355.22  33.63   61
 7917  40.82   81.23  101.47  122.47  144.78  169.57  20.82   49
 7918  57.80  115.63  145.88  177.85  210.58  241.92  29.27   44
 7919  68.53  140.18  176.98  220.37  261.27  302.02  33.40   37
 7920  55.00  115.63  146.28  182.58  224.85  261.32  26.97   42

 [7921 rows x 8 columns],
          10k     20k     25k     30k     35k     40k     5k  age
 7921   61.53  124.43  156.28  190.72  229.47  265.28  30.42   50
 7922   57.87  120.38  154.77  194.87  235.92  274.87  28.35   59
 7923   41.88   84.92  106.67  129.07  151.58  174.05  20.75   52
 7924   59.68  117.05  145.30  174.73  208.27  241.98  30.72   44
 7925   63.32  127.55  164.17  203.12  244.53  283.55  31.50   45
 7926   48.87   96.93  120.80  145.02  169.62  194.08  24.22   45
 7927   35.02   72.18   90.95  110.33  130.17  150.05  17.32   26
 7928   44.58   91.43  115.07  139.93  165.92  193.73  21.92   44
 7929   46.98   94.38  118.28  142.55  167.28  191.70  23.55   48
 7930   57.93  119.27  151.78  187.15  227.07  265.20  28.95   32
 7931   46.25   93.27  117.58  142.52  168.48  193.15  23.12   49
 7932   68.00  144.22  178.87  216.93  265.30  307.33  34.10   43
 7933   37.17   74.57   93.42  112.97  133.00  153.62  18.52   40
 7934   42.85   85.75  107.15  128.88  151.38  173.88  21.63   43
 7935   45.05   91.60  115.35  139.45  164.35  189.82  22.50   52
 7936   54.30  112.18  144.62  179.32  214.17  247.60  26.87   50
 7937   52.25  101.33  126.42  152.02  178.10  204.10  28.00   55
 7938   56.30  127.00  162.75  206.95  248.53  287.53  28.40   51
 7939   49.75  100.03  126.85  155.37  187.18  218.33  25.02   29
 7940   49.30  101.00  126.92  154.75  183.73  212.48  24.38   49
 7941   51.78  104.97  132.55  161.32  190.65  220.25  25.88   42
 7942   41.70   83.60  104.68  126.73  149.12  170.67  20.98   47
 7943   45.37   90.87  114.05  138.12  164.25  192.78  22.67   50
 7944   49.92  100.28  125.00  151.02  179.58  206.85  24.50   35
 7945   39.00   79.47  100.10  121.72  144.45  167.78  19.32   41
 7946   69.67  153.77  197.88  246.18  294.92  342.72  32.52   30
 7947   43.78   87.67  109.65  132.02  154.77  177.43  21.97   42
 7948   46.63   93.97  118.22  142.92  169.10  195.20  23.37   31
 7949   42.22   83.82  104.87  127.60  153.83  181.43  21.33   43
 7950   49.23   99.47  125.02  152.90  184.38  214.32  24.58   57
 ...      ...     ...     ...     ...     ...     ...    ...  ...
 15812  49.62  100.23  126.30  153.90  182.52  210.00  25.08   46
 15813  44.28   88.37  110.68  133.38  156.28  179.07  22.08   40
 15814  59.83  123.92  157.40  191.62  228.78  264.28  30.47   49
 15815  53.50  108.38  136.10  165.57  201.87  241.68  26.57   51
 15816  48.18   97.90  125.77  155.50  188.12  223.40  24.07   43
 15817  45.43   90.78  113.92  138.13  165.65  194.12  22.72   48
 15818  42.20   83.80  104.85  126.93  150.08  173.50  21.17   57
 15819  51.17  102.68  129.08  157.18  187.92  220.77  25.47   57
 15820  44.92   91.40  115.75  142.08  170.42  198.90  22.55   51
 15821  46.88   93.75  116.98  140.40  163.87  187.08  23.28   47
 15822  43.42   87.48  109.97  134.45  160.20  184.28  21.83   29
 15823  45.78   95.33  125.47  162.47  196.52  231.75  22.82   54
 15824  46.13   91.98  114.95  139.47  165.58  193.58  23.32   45
 15825  49.90  103.33  130.28  158.43  186.77  215.12  24.40   38
 15826  59.48  122.37  155.38  192.12  230.38  265.97  29.55   50
 15827  43.68   90.07  114.80  141.22  169.62  199.47  21.82   40
 15828  56.03  114.12  143.42  173.75  207.43  239.30  27.80   54
 15829  55.42  111.10  140.92  170.38  200.68  230.65  27.38   55
 15830  53.00  107.35  134.48  163.12  197.43  231.18  26.25   51
 15831  42.03   83.78  104.58  125.73  146.83  167.48  21.17   39
 15832  61.37  124.32  155.70  187.62  221.13  252.88  30.35   72
 15833  49.43  100.63  127.25  154.82  183.98  213.58  24.58   47
 15834  68.98  142.92  181.40  224.30  269.52  309.92  34.20   37
 15835  54.15  119.88  167.27  220.87  270.30  315.27  25.23   47
 15836  56.48  116.37  147.80  184.60  220.58  258.07  27.62   55
 15837  50.82  104.75  131.87  162.22  198.45  234.98  24.73   29
 15838  50.53  105.13  135.80  170.33  207.63  242.65  24.70   37
 15839  41.88   83.77  104.67  126.58  149.47  172.83  21.12   39
 15840  48.08   98.17  124.92  154.38  186.07  217.47  23.92   58
 15841  39.68   80.03  100.48  121.93  143.87  165.52  20.22   41

 [7921 rows x 8 columns],
          10k     20k     25k     30k     35k     40k     5k  age
 15842  39.52   79.33  100.70  126.75  152.33  177.17  20.00   34
 15843  47.78   96.12  120.18  144.97  169.87  192.72  23.63   46
 15844  56.87  113.77  143.08  173.48  205.55  239.78  28.65   42
 15845  44.00   91.13  116.25  143.27  170.30  196.90  21.80   42
 15846  47.62   95.83  120.53  147.42  180.40  210.35  23.95   61
 15847  44.18   89.12  111.88  135.75  160.32  184.40  22.00   39
 15848  51.80  104.58  132.88  162.07  192.30  222.52  25.95   49
 15849  58.15  129.63  174.37  217.38  262.28  300.50  27.98   53
 15850  43.10   85.52  106.77  128.67  151.20  173.20  21.68   39
 15851  62.43  133.87  174.35  218.25  264.50  308.35  30.98   39
 15852  51.62  104.75  132.25  161.35  190.98  216.85  25.78   45
 15853  53.13  108.25  139.03  173.30  209.38  244.93  27.25   42
 15854  46.57   93.88  117.77  143.52  174.08  203.58  22.88   48
 15855  54.00  110.90  140.93  172.62  205.20  236.38  26.97   61
 15856  50.83  103.60  129.87  157.68  185.75  213.42  25.17   47
 15857  54.18  109.12  138.20  172.28  206.67  251.68  27.25   28
 15858  53.28  107.92  135.43  166.25  199.00  232.57  26.32   59
 15859  46.97   96.60  122.43  149.32  177.22  205.53  23.20   26
 15860  68.58  151.58  203.35  261.03  317.60  371.98  33.85   33
 15861  73.55  162.48  208.30  253.97  303.60  348.37  35.12   27
 15862  57.58  114.82  144.78  176.77  211.47  248.35  28.83   25
 15863  44.18   88.48  110.22  132.82  156.80  182.68  21.95   23
 15864  42.68   85.95  108.63  133.17  159.62  187.80  21.35   36
 15865  39.97   80.05  101.33  124.78  148.53  173.27  20.38   20
 15866  44.85   90.30  114.43  141.78  170.82  197.60  22.65   28
 15867  67.88  144.35  183.17  225.35  268.65  310.50  32.87   29
 15868  44.63   89.33  112.05  135.75  160.40  185.87  22.55   53
 15869  64.70  131.18  166.62  204.17  246.78  287.38  32.25   38
 15870  50.88  104.83  133.75  162.83  194.43  226.05  25.37   30
 15871  39.50   79.42   99.53  120.25  141.33  163.70  19.77   42
 ...      ...     ...     ...     ...     ...     ...    ...  ...
 23733  39.93   80.90  101.92  124.53  148.52  171.82  19.80   50
 23734  68.90  150.28  198.78  250.07  304.02  358.53  32.33   38
 23735  62.03  132.25  173.47  214.95  256.45  297.62  31.42   31
 23736  64.48  128.55  161.67  196.52  232.97  267.07  31.77   64
 23737  51.80  101.70  127.33  154.45  182.37  209.77  24.58   27
 23738  46.78  101.77  127.40  156.38  186.38  216.07  23.02   41
 23739  44.08   87.10  108.57  130.50  153.02  175.28  22.33   47
 23740  67.42  134.43  169.17  207.17  247.67  289.97  33.50   38
 23741  44.38   88.62  111.27  134.97  159.37  185.17  22.43   51
 23742  48.43   97.63  123.07  150.28  178.28  205.67  23.90   24
 23743  58.37  127.62  165.78  206.18  246.70  285.12  27.75   50
 23744  62.73  133.27  169.90  210.15  252.05  290.58  30.98   44
 23745  53.80  116.57  152.43  193.67  234.67  275.90  26.65   53
 23746  74.18  146.95  184.33  226.05  268.63  311.75  39.30   25
 23747  70.93  143.82  180.43  218.07  258.17  291.85  34.17   61
 23748  44.85   94.23  119.10  145.13  172.25  199.10  21.60   33
 23749  49.85  100.85  127.38  157.15  190.95  224.95  24.77   47
 23750  52.40  104.00  130.37  158.08  186.48  214.67  26.68   44
 23751  39.02   80.03  102.52  126.50  151.35  174.82  19.47   36
 23752  37.90   75.48   94.28  113.57  133.47  153.70  19.05   38
 23753  54.88  110.45  138.77  168.62  207.07  243.88  27.32   60
 23754  42.52   85.15  106.18  128.02  150.13  171.83  21.20   43
 23755  51.93  105.18  134.18  166.47  201.02  237.00  26.13   58
 23756  47.25   95.33  119.72  144.65  170.58  196.98  23.68   51
 23757  35.22   70.82   88.65  106.88  125.43  143.40  17.50   32
 23758  55.33  116.22  150.22  184.78  218.05  251.32  26.75   53
 23759  45.07   90.80  113.42  136.93  161.58  187.28  22.53   43
 23760  42.48   89.85  116.57  144.72  174.60  201.83  20.77   47
 23761  47.65   95.97  132.50  170.18  199.25  227.33  23.85   46
 23762  64.88  129.98  164.63  202.95  247.00  293.58  32.47   26

 [7921 rows x 8 columns],
          10k     20k     25k     30k     35k     40k     5k  age
 23763  50.92  100.68  125.83  152.72  180.18  207.07  25.75   40
 23764  50.80  105.07  133.97  165.70  201.88  236.70  25.28   30
 23765  41.00   82.18  102.68  123.93  145.25  167.53  20.43   43
 23766  59.17  121.47  155.05  190.22  227.13  264.02  28.12   51
 23767  52.90  109.78  140.53  172.58  205.32  237.33  26.18   36
 23768  50.63  101.67  128.08  155.98  185.52  214.80  25.32   46
 23769  47.42   93.95  117.77  144.10  172.22  202.78  24.05   50
 23770  47.98   96.17  120.43  145.32  171.38  197.35  23.83   28
 23771  55.60  117.62  150.62  185.85  225.62  269.38  28.22   59
 23772  68.78  147.05  190.98  236.42  294.22  342.55  33.92   60
 23773  60.82  127.57  160.30  195.75  224.42  255.45  31.37   26
 23774  61.70  123.78  154.75  190.13  224.18  258.37  31.80   30
 23775  53.75  116.63  154.90  192.35  235.28  272.57  27.20   33
 23776  59.52  124.13  161.13  200.53  242.77  285.75  29.23   51
 23777  56.03  112.22  141.17  171.47  203.85  227.15  28.20   43
 23778  61.22  126.33  158.48  192.15  225.40  258.42  30.87   50
 23779  47.38   95.02  119.43  145.78  173.20  198.15  23.83   49
 23780  55.62  110.73  139.67  170.55  195.67  220.55  27.62   46
 23781  48.73   97.83  123.63  150.63  178.92  206.27  24.45   40
 23782  47.57   96.58  122.53  149.78  180.23  211.88  23.75   52
 23783  63.78  131.73  168.92  214.33  261.02  307.40  32.83   38
 23784  46.00   92.53  116.83  142.87  169.83  196.12  22.98   37
 23785  54.20  107.42  141.73  183.93  214.87  243.25  25.37   62
 23786  56.03  114.12  142.52  172.52  202.03  230.47  27.53   58
 23787  39.85   79.90   99.83  120.17  140.32  160.87  20.12   36
 23788  38.47   76.95   96.43  116.57  137.10  157.12  19.48   21
 23789  66.75  142.88  192.62  235.65  275.55  313.63  32.27   40
 23790  42.15   84.08  105.00  126.77  149.10  170.83  21.42   25
 23791  61.50  122.65  152.83  183.77  214.37  245.27  30.92   35
 23792  47.95   96.68  122.25  149.95  179.22  208.70  24.17   30
 ...      ...     ...     ...     ...     ...     ...    ...  ...
 31654  49.98  102.95  130.20  158.48  189.88  219.08  24.83   42
 31655  65.55  136.68  174.47  217.70  274.65  329.33  32.10   47
 31656  53.38  106.28  134.20  164.18  195.57  227.23  27.27   45
 31657  45.80   94.98  121.12  149.80  180.22  211.93  22.33   31
 31658  65.27  137.07  177.15  225.60  279.47  329.43  31.77   58
 31659  55.17  109.93  137.60  166.57  195.55  224.20  27.60   60
 31660  52.95  107.82  146.05  181.07  210.83  241.75  26.05   29
 31661  66.07  133.38  169.48  207.18  244.00  284.53  32.58   29
 31662  68.97  132.97  165.32  198.15  232.22  270.35  33.82   52
 31663  41.23   81.92  102.73  124.62  146.80  170.57  20.80   42
 31664  47.33   94.22  118.68  145.82  176.07  207.67  23.88   40
 31665  58.97  125.33  161.27  200.77  242.40  282.12  28.52   62
 31666  55.50  112.73  144.27  180.18  224.17  265.28  27.72   57
 31667  54.82  107.80  134.00  161.57  190.60  222.25  27.97   47
 31668  44.03   89.20  111.68  134.73  157.95  180.90  21.48   46
 31669  59.07  125.98  162.38  205.70  260.93  309.32  28.73   72
 31670  48.97   99.50  125.62  150.90  176.07  201.37  24.05   47
 31671  56.63  112.80  141.05  168.90  200.58  236.25  28.68   33
 31672  63.78  134.18  183.52  233.68  284.32  335.37  31.23   49
 31673  47.07   95.75  120.30  145.53  172.65  201.72  23.33   45
 31674  46.47   92.97  116.18  140.50  164.77  189.28  23.30   40
 31675  37.23   74.43   93.00  111.85  131.08  150.62  18.73   25
 31676  74.47  156.68  202.43  247.92  293.62  338.87  36.07   37
 31677  46.77   93.33  116.88  142.78  173.57  206.22  23.35   57
 31678  47.22   96.43  122.33  148.77  178.53  208.52  23.62   24
 31679  49.68  101.42  127.63  154.92  183.37  210.53  24.77   51
 31680  46.32   91.87  114.48  137.70  161.48  184.77  23.17   49
 31681  58.53  119.60  153.48  190.65  230.57  268.40  29.10   37
 31682  54.37  111.62  141.18  171.00  202.55  235.27  26.18   22
 31683  59.58  123.02  156.62  194.53  232.22  267.63  29.03   44

 [7921 rows x 8 columns]]

In [39]:
df1=np.split(df,4,axis=0)[0]
df1=np.split(df,4,axis=0)[0]
df1=np.split(df,4,axis=0)[0]
df1=np.split(df,4,axis=0)[0]

        10k     20k     25k     30k     35k     40k     5k  age
0     47.33   98.58  124.57  153.35  183.65  213.10  23.48   38
1     49.13   99.52  125.52  152.37  180.23  207.28  24.75   44
2     51.53  109.45  139.92  171.77  206.60  243.90  25.53   21
3     53.37  109.37  139.15  170.53  202.95  235.20  26.55   57
4     55.33  112.02  144.53  183.98  228.07  269.00  27.20   46
5     59.22  120.47  151.30  185.00  226.10  271.85  29.80   56
6     49.23   99.18  124.80  152.70  182.43  214.05  24.70   45
7     50.45  103.17  131.12  161.22  196.17  227.57  24.63   54
8     52.87  106.15  134.30  165.92  201.18  236.65  26.55   31
9     49.95  100.12  125.73  151.72  177.73  205.03  24.97   55
10    50.97  102.77  129.02  155.70  185.55  214.77  25.47   39
11    42.00   83.00  103.40  124.55  146.13  167.58  21.42   31
12    47.77  100.05  127.07  155.85  187.93  220.15  22.85   58
13    59.28  117.92  147.77  179.20  213.62  250.42  29.92   36
14    58.00  119.78  156.85  196.72  236.77  275.58  28.85   34
15    51.55  103.77  130.37  158.03  186.60  214.73  25.80   42
16    69.13  153.53  195.68  240.50  287.93  330.88  33.45   63
17    64.28  126.15  156.75  187.93  219.33  252.63  32.15   58
18    72.03  144.82  191.52  232.78  278.97  320.07  35.55   27
19    42.02   84.28  105.67  127.75  149.77  172.73  21.07   31
20    42.25   85.57  107.98  132.08  157.38  182.35  21.30   32
21    39.93   80.53  100.55  120.83  140.67  159.63  19.77   31
22    45.32   90.83  114.53  140.58  171.73  203.53  22.78   45
23    42.83   84.70  105.72  127.33  148.75  169.77  21.88   37
24    59.20  115.77  144.03  172.93  206.52  236.65  30.00   59
25    49.42   99.02  123.98  149.83  175.72  200.88  25.05   38
26    73.47  153.45  196.52  241.60  290.53  333.15  37.43   46
27    44.35   88.60  110.88  133.48  156.43  179.53  22.23   24
28    57.40  116.53  147.68  182.60  216.95  251.18  28.15   44
29    42.10   84.17  105.78  141.43  165.63  191.48  21.20   24
...     ...     ...     ...     ...     ...     ...    ...  ...
7891  55.42  113.90  143.82  175.25  206.88  238.40  27.48   57
7892  49.00   99.20  126.68  155.77  186.68  219.02  24.50   41
7893  46.77   94.15  117.82  141.90  165.83  188.73  23.32   48
7894  52.93  105.62  135.02  166.23  199.52  230.28  26.83   36
7895  73.33  160.07  213.82  269.50  327.38  381.77  36.57   32
7896  37.52   75.37   94.42  114.17  134.27  154.42  18.80   22
7897  53.50  112.65  152.45  190.12  233.12  275.95  26.38   48
7898  57.97  118.75  148.80  180.37  213.55  247.18  28.67   46
7899  67.15  135.98  172.03  216.25  262.47  306.25  33.33   48
7900  61.60  124.60  162.30  201.53  241.58  280.02  30.40   37
7901  55.85  111.70  139.70  168.02  197.93  227.78  27.68   64
7902  40.80   82.68  103.58  126.33  153.68  180.60  20.47   42
7903  43.60   88.08  110.57  133.75  157.53  182.58  21.75   51
7904  41.93   83.65  104.62  125.92  147.52  170.58  21.07   32
7905  51.18  104.42  131.45  160.05  188.95  217.02  25.22   52
7906  46.67   94.23  120.32  152.02  186.70  220.35  23.08   55
7907  65.95  134.95  170.37  209.58  249.92  288.77  32.43   48
7908  49.78   99.55  124.75  151.77  181.30  213.30  25.18   31
7909  44.85   89.95  113.68  139.05  165.63  190.22  22.68   40
7910  47.65   95.43  120.02  146.57  173.22  199.75  23.90   28
7911  50.05  101.95  128.35  156.65  185.48  214.62  24.60   48
7912  21.07   46.13   58.43   72.98   87.80   98.73  10.12   28
7913  45.13   91.55  117.20  142.08  169.18  195.85  22.57   42
7914  68.27  143.27  184.93  228.37  269.57  312.12  33.08   39
7915  67.22  142.48  183.83  227.05  273.97  318.40  33.30   43
7916  68.28  141.57  181.87  234.55  299.73  355.22  33.63   61
7917  40.82   81.23  101.47  122.47  144.78  169.57  20.82   49
7918  57.80  115.63  145.88  177.85  210.58  241.92  29.27   44
7919  68.53  140.18  176.98  220.37  261.27  302.02  33.40   37
7920  55.00  115.63  146.28  182.58  224.85  261.32  26.97   42

[7921 rows x 8 columns]

In [19]:
df.iloc[0,:]

10k     47.33
20k     98.58
25k    124.57
30k    153.35
35k    183.65
40k    213.10
5k      23.48
age     38.00
Name: 0, dtype: float64

In [20]:
df_new=[]

In [21]:
range(0,3)

range(0, 3)

In [22]:
for i in range(0,4):
    print(i)

0
1
2
3

In [23]:
len(df)

31684

In [24]:
diff=len(df)/4
diff=int(diff)
diff

7921

In [25]:
start=0
start

0

In [26]:
end=start+diff
end

7921

In [27]:
df.iloc[start:end,:]

        10k     20k     25k     30k     35k     40k     5k  age
0     47.33   98.58  124.57  153.35  183.65  213.10  23.48   38
1     49.13   99.52  125.52  152.37  180.23  207.28  24.75   44
2     51.53  109.45  139.92  171.77  206.60  243.90  25.53   21
3     53.37  109.37  139.15  170.53  202.95  235.20  26.55   57
4     55.33  112.02  144.53  183.98  228.07  269.00  27.20   46
5     59.22  120.47  151.30  185.00  226.10  271.85  29.80   56
6     49.23   99.18  124.80  152.70  182.43  214.05  24.70   45
7     50.45  103.17  131.12  161.22  196.17  227.57  24.63   54
8     52.87  106.15  134.30  165.92  201.18  236.65  26.55   31
9     49.95  100.12  125.73  151.72  177.73  205.03  24.97   55
10    50.97  102.77  129.02  155.70  185.55  214.77  25.47   39
11    42.00   83.00  103.40  124.55  146.13  167.58  21.42   31
12    47.77  100.05  127.07  155.85  187.93  220.15  22.85   58
13    59.28  117.92  147.77  179.20  213.62  250.42  29.92   36
14    58.00  119.78  156.85  196.72  236.77  275.58  28.85   34
15    51.55  103.77  130.37  158.03  186.60  214.73  25.80   42
16    69.13  153.53  195.68  240.50  287.93  330.88  33.45   63
17    64.28  126.15  156.75  187.93  219.33  252.63  32.15   58
18    72.03  144.82  191.52  232.78  278.97  320.07  35.55   27
19    42.02   84.28  105.67  127.75  149.77  172.73  21.07   31
20    42.25   85.57  107.98  132.08  157.38  182.35  21.30   32
21    39.93   80.53  100.55  120.83  140.67  159.63  19.77   31
22    45.32   90.83  114.53  140.58  171.73  203.53  22.78   45
23    42.83   84.70  105.72  127.33  148.75  169.77  21.88   37
24    59.20  115.77  144.03  172.93  206.52  236.65  30.00   59
25    49.42   99.02  123.98  149.83  175.72  200.88  25.05   38
26    73.47  153.45  196.52  241.60  290.53  333.15  37.43   46
27    44.35   88.60  110.88  133.48  156.43  179.53  22.23   24
28    57.40  116.53  147.68  182.60  216.95  251.18  28.15   44
29    42.10   84.17  105.78  141.43  165.63  191.48  21.20   24
...     ...     ...     ...     ...     ...     ...    ...  ...
7891  55.42  113.90  143.82  175.25  206.88  238.40  27.48   57
7892  49.00   99.20  126.68  155.77  186.68  219.02  24.50   41
7893  46.77   94.15  117.82  141.90  165.83  188.73  23.32   48
7894  52.93  105.62  135.02  166.23  199.52  230.28  26.83   36
7895  73.33  160.07  213.82  269.50  327.38  381.77  36.57   32
7896  37.52   75.37   94.42  114.17  134.27  154.42  18.80   22
7897  53.50  112.65  152.45  190.12  233.12  275.95  26.38   48
7898  57.97  118.75  148.80  180.37  213.55  247.18  28.67   46
7899  67.15  135.98  172.03  216.25  262.47  306.25  33.33   48
7900  61.60  124.60  162.30  201.53  241.58  280.02  30.40   37
7901  55.85  111.70  139.70  168.02  197.93  227.78  27.68   64
7902  40.80   82.68  103.58  126.33  153.68  180.60  20.47   42
7903  43.60   88.08  110.57  133.75  157.53  182.58  21.75   51
7904  41.93   83.65  104.62  125.92  147.52  170.58  21.07   32
7905  51.18  104.42  131.45  160.05  188.95  217.02  25.22   52
7906  46.67   94.23  120.32  152.02  186.70  220.35  23.08   55
7907  65.95  134.95  170.37  209.58  249.92  288.77  32.43   48
7908  49.78   99.55  124.75  151.77  181.30  213.30  25.18   31
7909  44.85   89.95  113.68  139.05  165.63  190.22  22.68   40
7910  47.65   95.43  120.02  146.57  173.22  199.75  23.90   28
7911  50.05  101.95  128.35  156.65  185.48  214.62  24.60   48
7912  21.07   46.13   58.43   72.98   87.80   98.73  10.12   28
7913  45.13   91.55  117.20  142.08  169.18  195.85  22.57   42
7914  68.27  143.27  184.93  228.37  269.57  312.12  33.08   39
7915  67.22  142.48  183.83  227.05  273.97  318.40  33.30   43
7916  68.28  141.57  181.87  234.55  299.73  355.22  33.63   61
7917  40.82   81.23  101.47  122.47  144.78  169.57  20.82   49
7918  57.80  115.63  145.88  177.85  210.58  241.92  29.27   44
7919  68.53  140.18  176.98  220.37  261.27  302.02  33.40   37
7920  55.00  115.63  146.28  182.58  224.85  261.32  26.97   42

[7921 rows x 8 columns]

In [28]:
df_new

[]

In [29]:
for i in range(0,4):
    #df_new[i]=df.iloc[start:end,:]
    df_new.append(df.iloc[start:end,:])
    start=start+diff
    end=end+diff

In [30]:
df_new

[        10k     20k     25k     30k     35k     40k     5k  age
 0     47.33   98.58  124.57  153.35  183.65  213.10  23.48   38
 1     49.13   99.52  125.52  152.37  180.23  207.28  24.75   44
 2     51.53  109.45  139.92  171.77  206.60  243.90  25.53   21
 3     53.37  109.37  139.15  170.53  202.95  235.20  26.55   57
 4     55.33  112.02  144.53  183.98  228.07  269.00  27.20   46
 5     59.22  120.47  151.30  185.00  226.10  271.85  29.80   56
 6     49.23   99.18  124.80  152.70  182.43  214.05  24.70   45
 7     50.45  103.17  131.12  161.22  196.17  227.57  24.63   54
 8     52.87  106.15  134.30  165.92  201.18  236.65  26.55   31
 9     49.95  100.12  125.73  151.72  177.73  205.03  24.97   55
 10    50.97  102.77  129.02  155.70  185.55  214.77  25.47   39
 11    42.00   83.00  103.40  124.55  146.13  167.58  21.42   31
 12    47.77  100.05  127.07  155.85  187.93  220.15  22.85   58
 13    59.28  117.92  147.77  179.20  213.62  250.42  29.92   36
 14    58.00  119.78  156.85  196.72  236.77  275.58  28.85   34
 15    51.55  103.77  130.37  158.03  186.60  214.73  25.80   42
 16    69.13  153.53  195.68  240.50  287.93  330.88  33.45   63
 17    64.28  126.15  156.75  187.93  219.33  252.63  32.15   58
 18    72.03  144.82  191.52  232.78  278.97  320.07  35.55   27
 19    42.02   84.28  105.67  127.75  149.77  172.73  21.07   31
 20    42.25   85.57  107.98  132.08  157.38  182.35  21.30   32
 21    39.93   80.53  100.55  120.83  140.67  159.63  19.77   31
 22    45.32   90.83  114.53  140.58  171.73  203.53  22.78   45
 23    42.83   84.70  105.72  127.33  148.75  169.77  21.88   37
 24    59.20  115.77  144.03  172.93  206.52  236.65  30.00   59
 25    49.42   99.02  123.98  149.83  175.72  200.88  25.05   38
 26    73.47  153.45  196.52  241.60  290.53  333.15  37.43   46
 27    44.35   88.60  110.88  133.48  156.43  179.53  22.23   24
 28    57.40  116.53  147.68  182.60  216.95  251.18  28.15   44
 29    42.10   84.17  105.78  141.43  165.63  191.48  21.20   24
 ...     ...     ...     ...     ...     ...     ...    ...  ...
 7891  55.42  113.90  143.82  175.25  206.88  238.40  27.48   57
 7892  49.00   99.20  126.68  155.77  186.68  219.02  24.50   41
 7893  46.77   94.15  117.82  141.90  165.83  188.73  23.32   48
 7894  52.93  105.62  135.02  166.23  199.52  230.28  26.83   36
 7895  73.33  160.07  213.82  269.50  327.38  381.77  36.57   32
 7896  37.52   75.37   94.42  114.17  134.27  154.42  18.80   22
 7897  53.50  112.65  152.45  190.12  233.12  275.95  26.38   48
 7898  57.97  118.75  148.80  180.37  213.55  247.18  28.67   46
 7899  67.15  135.98  172.03  216.25  262.47  306.25  33.33   48
 7900  61.60  124.60  162.30  201.53  241.58  280.02  30.40   37
 7901  55.85  111.70  139.70  168.02  197.93  227.78  27.68   64
 7902  40.80   82.68  103.58  126.33  153.68  180.60  20.47   42
 7903  43.60   88.08  110.57  133.75  157.53  182.58  21.75   51
 7904  41.93   83.65  104.62  125.92  147.52  170.58  21.07   32
 7905  51.18  104.42  131.45  160.05  188.95  217.02  25.22   52
 7906  46.67   94.23  120.32  152.02  186.70  220.35  23.08   55
 7907  65.95  134.95  170.37  209.58  249.92  288.77  32.43   48
 7908  49.78   99.55  124.75  151.77  181.30  213.30  25.18   31
 7909  44.85   89.95  113.68  139.05  165.63  190.22  22.68   40
 7910  47.65   95.43  120.02  146.57  173.22  199.75  23.90   28
 7911  50.05  101.95  128.35  156.65  185.48  214.62  24.60   48
 7912  21.07   46.13   58.43   72.98   87.80   98.73  10.12   28
 7913  45.13   91.55  117.20  142.08  169.18  195.85  22.57   42
 7914  68.27  143.27  184.93  228.37  269.57  312.12  33.08   39
 7915  67.22  142.48  183.83  227.05  273.97  318.40  33.30   43
 7916  68.28  141.57  181.87  234.55  299.73  355.22  33.63   61
 7917  40.82   81.23  101.47  122.47  144.78  169.57  20.82   49
 7918  57.80  115.63  145.88  177.85  210.58  241.92  29.27   44
 7919  68.53  140.18  176.98  220.37  261.27  302.02  33.40   37
 7920  55.00  115.63  146.28  182.58  224.85  261.32  26.97   42

 [7921 rows x 8 columns],
          10k     20k     25k     30k     35k     40k     5k  age
 7921   61.53  124.43  156.28  190.72  229.47  265.28  30.42   50
 7922   57.87  120.38  154.77  194.87  235.92  274.87  28.35   59
 7923   41.88   84.92  106.67  129.07  151.58  174.05  20.75   52
 7924   59.68  117.05  145.30  174.73  208.27  241.98  30.72   44
 7925   63.32  127.55  164.17  203.12  244.53  283.55  31.50   45
 7926   48.87   96.93  120.80  145.02  169.62  194.08  24.22   45
 7927   35.02   72.18   90.95  110.33  130.17  150.05  17.32   26
 7928   44.58   91.43  115.07  139.93  165.92  193.73  21.92   44
 7929   46.98   94.38  118.28  142.55  167.28  191.70  23.55   48
 7930   57.93  119.27  151.78  187.15  227.07  265.20  28.95   32
 7931   46.25   93.27  117.58  142.52  168.48  193.15  23.12   49
 7932   68.00  144.22  178.87  216.93  265.30  307.33  34.10   43
 7933   37.17   74.57   93.42  112.97  133.00  153.62  18.52   40
 7934   42.85   85.75  107.15  128.88  151.38  173.88  21.63   43
 7935   45.05   91.60  115.35  139.45  164.35  189.82  22.50   52
 7936   54.30  112.18  144.62  179.32  214.17  247.60  26.87   50
 7937   52.25  101.33  126.42  152.02  178.10  204.10  28.00   55
 7938   56.30  127.00  162.75  206.95  248.53  287.53  28.40   51
 7939   49.75  100.03  126.85  155.37  187.18  218.33  25.02   29
 7940   49.30  101.00  126.92  154.75  183.73  212.48  24.38   49
 7941   51.78  104.97  132.55  161.32  190.65  220.25  25.88   42
 7942   41.70   83.60  104.68  126.73  149.12  170.67  20.98   47
 7943   45.37   90.87  114.05  138.12  164.25  192.78  22.67   50
 7944   49.92  100.28  125.00  151.02  179.58  206.85  24.50   35
 7945   39.00   79.47  100.10  121.72  144.45  167.78  19.32   41
 7946   69.67  153.77  197.88  246.18  294.92  342.72  32.52   30
 7947   43.78   87.67  109.65  132.02  154.77  177.43  21.97   42
 7948   46.63   93.97  118.22  142.92  169.10  195.20  23.37   31
 7949   42.22   83.82  104.87  127.60  153.83  181.43  21.33   43
 7950   49.23   99.47  125.02  152.90  184.38  214.32  24.58   57
 ...      ...     ...     ...     ...     ...     ...    ...  ...
 15812  49.62  100.23  126.30  153.90  182.52  210.00  25.08   46
 15813  44.28   88.37  110.68  133.38  156.28  179.07  22.08   40
 15814  59.83  123.92  157.40  191.62  228.78  264.28  30.47   49
 15815  53.50  108.38  136.10  165.57  201.87  241.68  26.57   51
 15816  48.18   97.90  125.77  155.50  188.12  223.40  24.07   43
 15817  45.43   90.78  113.92  138.13  165.65  194.12  22.72   48
 15818  42.20   83.80  104.85  126.93  150.08  173.50  21.17   57
 15819  51.17  102.68  129.08  157.18  187.92  220.77  25.47   57
 15820  44.92   91.40  115.75  142.08  170.42  198.90  22.55   51
 15821  46.88   93.75  116.98  140.40  163.87  187.08  23.28   47
 15822  43.42   87.48  109.97  134.45  160.20  184.28  21.83   29
 15823  45.78   95.33  125.47  162.47  196.52  231.75  22.82   54
 15824  46.13   91.98  114.95  139.47  165.58  193.58  23.32   45
 15825  49.90  103.33  130.28  158.43  186.77  215.12  24.40   38
 15826  59.48  122.37  155.38  192.12  230.38  265.97  29.55   50
 15827  43.68   90.07  114.80  141.22  169.62  199.47  21.82   40
 15828  56.03  114.12  143.42  173.75  207.43  239.30  27.80   54
 15829  55.42  111.10  140.92  170.38  200.68  230.65  27.38   55
 15830  53.00  107.35  134.48  163.12  197.43  231.18  26.25   51
 15831  42.03   83.78  104.58  125.73  146.83  167.48  21.17   39
 15832  61.37  124.32  155.70  187.62  221.13  252.88  30.35   72
 15833  49.43  100.63  127.25  154.82  183.98  213.58  24.58   47
 15834  68.98  142.92  181.40  224.30  269.52  309.92  34.20   37
 15835  54.15  119.88  167.27  220.87  270.30  315.27  25.23   47
 15836  56.48  116.37  147.80  184.60  220.58  258.07  27.62   55
 15837  50.82  104.75  131.87  162.22  198.45  234.98  24.73   29
 15838  50.53  105.13  135.80  170.33  207.63  242.65  24.70   37
 15839  41.88   83.77  104.67  126.58  149.47  172.83  21.12   39
 15840  48.08   98.17  124.92  154.38  186.07  217.47  23.92   58
 15841  39.68   80.03  100.48  121.93  143.87  165.52  20.22   41

 [7921 rows x 8 columns],
          10k     20k     25k     30k     35k     40k     5k  age
 15842  39.52   79.33  100.70  126.75  152.33  177.17  20.00   34
 15843  47.78   96.12  120.18  144.97  169.87  192.72  23.63   46
 15844  56.87  113.77  143.08  173.48  205.55  239.78  28.65   42
 15845  44.00   91.13  116.25  143.27  170.30  196.90  21.80   42
 15846  47.62   95.83  120.53  147.42  180.40  210.35  23.95   61
 15847  44.18   89.12  111.88  135.75  160.32  184.40  22.00   39
 15848  51.80  104.58  132.88  162.07  192.30  222.52  25.95   49
 15849  58.15  129.63  174.37  217.38  262.28  300.50  27.98   53
 15850  43.10   85.52  106.77  128.67  151.20  173.20  21.68   39
 15851  62.43  133.87  174.35  218.25  264.50  308.35  30.98   39
 15852  51.62  104.75  132.25  161.35  190.98  216.85  25.78   45
 15853  53.13  108.25  139.03  173.30  209.38  244.93  27.25   42
 15854  46.57   93.88  117.77  143.52  174.08  203.58  22.88   48
 15855  54.00  110.90  140.93  172.62  205.20  236.38  26.97   61
 15856  50.83  103.60  129.87  157.68  185.75  213.42  25.17   47
 15857  54.18  109.12  138.20  172.28  206.67  251.68  27.25   28
 15858  53.28  107.92  135.43  166.25  199.00  232.57  26.32   59
 15859  46.97   96.60  122.43  149.32  177.22  205.53  23.20   26
 15860  68.58  151.58  203.35  261.03  317.60  371.98  33.85   33
 15861  73.55  162.48  208.30  253.97  303.60  348.37  35.12   27
 15862  57.58  114.82  144.78  176.77  211.47  248.35  28.83   25
 15863  44.18   88.48  110.22  132.82  156.80  182.68  21.95   23
 15864  42.68   85.95  108.63  133.17  159.62  187.80  21.35   36
 15865  39.97   80.05  101.33  124.78  148.53  173.27  20.38   20
 15866  44.85   90.30  114.43  141.78  170.82  197.60  22.65   28
 15867  67.88  144.35  183.17  225.35  268.65  310.50  32.87   29
 15868  44.63   89.33  112.05  135.75  160.40  185.87  22.55   53
 15869  64.70  131.18  166.62  204.17  246.78  287.38  32.25   38
 15870  50.88  104.83  133.75  162.83  194.43  226.05  25.37   30
 15871  39.50   79.42   99.53  120.25  141.33  163.70  19.77   42
 ...      ...     ...     ...     ...     ...     ...    ...  ...
 23733  39.93   80.90  101.92  124.53  148.52  171.82  19.80   50
 23734  68.90  150.28  198.78  250.07  304.02  358.53  32.33   38
 23735  62.03  132.25  173.47  214.95  256.45  297.62  31.42   31
 23736  64.48  128.55  161.67  196.52  232.97  267.07  31.77   64
 23737  51.80  101.70  127.33  154.45  182.37  209.77  24.58   27
 23738  46.78  101.77  127.40  156.38  186.38  216.07  23.02   41
 23739  44.08   87.10  108.57  130.50  153.02  175.28  22.33   47
 23740  67.42  134.43  169.17  207.17  247.67  289.97  33.50   38
 23741  44.38   88.62  111.27  134.97  159.37  185.17  22.43   51
 23742  48.43   97.63  123.07  150.28  178.28  205.67  23.90   24
 23743  58.37  127.62  165.78  206.18  246.70  285.12  27.75   50
 23744  62.73  133.27  169.90  210.15  252.05  290.58  30.98   44
 23745  53.80  116.57  152.43  193.67  234.67  275.90  26.65   53
 23746  74.18  146.95  184.33  226.05  268.63  311.75  39.30   25
 23747  70.93  143.82  180.43  218.07  258.17  291.85  34.17   61
 23748  44.85   94.23  119.10  145.13  172.25  199.10  21.60   33
 23749  49.85  100.85  127.38  157.15  190.95  224.95  24.77   47
 23750  52.40  104.00  130.37  158.08  186.48  214.67  26.68   44
 23751  39.02   80.03  102.52  126.50  151.35  174.82  19.47   36
 23752  37.90   75.48   94.28  113.57  133.47  153.70  19.05   38
 23753  54.88  110.45  138.77  168.62  207.07  243.88  27.32   60
 23754  42.52   85.15  106.18  128.02  150.13  171.83  21.20   43
 23755  51.93  105.18  134.18  166.47  201.02  237.00  26.13   58
 23756  47.25   95.33  119.72  144.65  170.58  196.98  23.68   51
 23757  35.22   70.82   88.65  106.88  125.43  143.40  17.50   32
 23758  55.33  116.22  150.22  184.78  218.05  251.32  26.75   53
 23759  45.07   90.80  113.42  136.93  161.58  187.28  22.53   43
 23760  42.48   89.85  116.57  144.72  174.60  201.83  20.77   47
 23761  47.65   95.97  132.50  170.18  199.25  227.33  23.85   46
 23762  64.88  129.98  164.63  202.95  247.00  293.58  32.47   26

 [7921 rows x 8 columns],
          10k     20k     25k     30k     35k     40k     5k  age
 23763  50.92  100.68  125.83  152.72  180.18  207.07  25.75   40
 23764  50.80  105.07  133.97  165.70  201.88  236.70  25.28   30
 23765  41.00   82.18  102.68  123.93  145.25  167.53  20.43   43
 23766  59.17  121.47  155.05  190.22  227.13  264.02  28.12   51
 23767  52.90  109.78  140.53  172.58  205.32  237.33  26.18   36
 23768  50.63  101.67  128.08  155.98  185.52  214.80  25.32   46
 23769  47.42   93.95  117.77  144.10  172.22  202.78  24.05   50
 23770  47.98   96.17  120.43  145.32  171.38  197.35  23.83   28
 23771  55.60  117.62  150.62  185.85  225.62  269.38  28.22   59
 23772  68.78  147.05  190.98  236.42  294.22  342.55  33.92   60
 23773  60.82  127.57  160.30  195.75  224.42  255.45  31.37   26
 23774  61.70  123.78  154.75  190.13  224.18  258.37  31.80   30
 23775  53.75  116.63  154.90  192.35  235.28  272.57  27.20   33
 23776  59.52  124.13  161.13  200.53  242.77  285.75  29.23   51
 23777  56.03  112.22  141.17  171.47  203.85  227.15  28.20   43
 23778  61.22  126.33  158.48  192.15  225.40  258.42  30.87   50
 23779  47.38   95.02  119.43  145.78  173.20  198.15  23.83   49
 23780  55.62  110.73  139.67  170.55  195.67  220.55  27.62   46
 23781  48.73   97.83  123.63  150.63  178.92  206.27  24.45   40
 23782  47.57   96.58  122.53  149.78  180.23  211.88  23.75   52
 23783  63.78  131.73  168.92  214.33  261.02  307.40  32.83   38
 23784  46.00   92.53  116.83  142.87  169.83  196.12  22.98   37
 23785  54.20  107.42  141.73  183.93  214.87  243.25  25.37   62
 23786  56.03  114.12  142.52  172.52  202.03  230.47  27.53   58
 23787  39.85   79.90   99.83  120.17  140.32  160.87  20.12   36
 23788  38.47   76.95   96.43  116.57  137.10  157.12  19.48   21
 23789  66.75  142.88  192.62  235.65  275.55  313.63  32.27   40
 23790  42.15   84.08  105.00  126.77  149.10  170.83  21.42   25
 23791  61.50  122.65  152.83  183.77  214.37  245.27  30.92   35
 23792  47.95   96.68  122.25  149.95  179.22  208.70  24.17   30
 ...      ...     ...     ...     ...     ...     ...    ...  ...
 31654  49.98  102.95  130.20  158.48  189.88  219.08  24.83   42
 31655  65.55  136.68  174.47  217.70  274.65  329.33  32.10   47
 31656  53.38  106.28  134.20  164.18  195.57  227.23  27.27   45
 31657  45.80   94.98  121.12  149.80  180.22  211.93  22.33   31
 31658  65.27  137.07  177.15  225.60  279.47  329.43  31.77   58
 31659  55.17  109.93  137.60  166.57  195.55  224.20  27.60   60
 31660  52.95  107.82  146.05  181.07  210.83  241.75  26.05   29
 31661  66.07  133.38  169.48  207.18  244.00  284.53  32.58   29
 31662  68.97  132.97  165.32  198.15  232.22  270.35  33.82   52
 31663  41.23   81.92  102.73  124.62  146.80  170.57  20.80   42
 31664  47.33   94.22  118.68  145.82  176.07  207.67  23.88   40
 31665  58.97  125.33  161.27  200.77  242.40  282.12  28.52   62
 31666  55.50  112.73  144.27  180.18  224.17  265.28  27.72   57
 31667  54.82  107.80  134.00  161.57  190.60  222.25  27.97   47
 31668  44.03   89.20  111.68  134.73  157.95  180.90  21.48   46
 31669  59.07  125.98  162.38  205.70  260.93  309.32  28.73   72
 31670  48.97   99.50  125.62  150.90  176.07  201.37  24.05   47
 31671  56.63  112.80  141.05  168.90  200.58  236.25  28.68   33
 31672  63.78  134.18  183.52  233.68  284.32  335.37  31.23   49
 31673  47.07   95.75  120.30  145.53  172.65  201.72  23.33   45
 31674  46.47   92.97  116.18  140.50  164.77  189.28  23.30   40
 31675  37.23   74.43   93.00  111.85  131.08  150.62  18.73   25
 31676  74.47  156.68  202.43  247.92  293.62  338.87  36.07   37
 31677  46.77   93.33  116.88  142.78  173.57  206.22  23.35   57
 31678  47.22   96.43  122.33  148.77  178.53  208.52  23.62   24
 31679  49.68  101.42  127.63  154.92  183.37  210.53  24.77   51
 31680  46.32   91.87  114.48  137.70  161.48  184.77  23.17   49
 31681  58.53  119.60  153.48  190.65  230.57  268.40  29.10   37
 31682  54.37  111.62  141.18  171.00  202.55  235.27  26.18   22
 31683  59.58  123.02  156.62  194.53  232.22  267.63  29.03   44

 [7921 rows x 8 columns]]

In [31]:
start

31684

In [32]:
diff

7921

In [33]:
end

39605

## Features Selection

In [34]:
X=df.iloc[:rows,:7]
y=df.iloc[:rows,7]

In [35]:
y.head()

0    38
1    44
2    21
3    57
4    46
Name: age, dtype: int64

In [36]:
X.head()

     10k     20k     25k     30k     35k     40k     5k
0  47.33   98.58  124.57  153.35  183.65  213.10  23.48
1  49.13   99.52  125.52  152.37  180.23  207.28  24.75
2  51.53  109.45  139.92  171.77  206.60  243.90  25.53
3  53.37  109.37  139.15  170.53  202.95  235.20  26.55
4  55.33  112.02  144.53  183.98  228.07  269.00  27.20

In [37]:
y.head()

0    38
1    44
2    21
3    57
4    46
Name: age, dtype: int64

In [38]:
X.head()

     10k     20k     25k     30k     35k     40k     5k
0  47.33   98.58  124.57  153.35  183.65  213.10  23.48
1  49.13   99.52  125.52  152.37  180.23  207.28  24.75
2  51.53  109.45  139.92  171.77  206.60  243.90  25.53
3  53.37  109.37  139.15  170.53  202.95  235.20  26.55
4  55.33  112.02  144.53  183.98  228.07  269.00  27.20